/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.gts-testimonial-block {
	blockquote {
		border-left: none;
		margin-bottom: 1em;
	}
	padding: 20px;
	background: #f3f3f3;
	margin-bottom: 1em;
    border-radius: 10px;
	min-height: 160px;
}

.testimonial-slider {
    margin-bottom: 2em;
}

.testimonial-text {
	font-size: 1.5em;
	line-height: 1.5;
	font-style: normal;
}

.testimonial-author-container {
	text-align: center;
}

.testimonial-author-link,
.testimonial-author-name {
	padding-left: 12px;
	margin-bottom: 5px;
	font-style: normal;
}

span.testimonial-author {
	font-style: normal;
}

.fa.fa-quote-left {
	padding-right: 12px;
	// padding-left: 22px;
	font-size: 1.25em;
}

.fa.fa-quote-right {
	padding-left: 12px;
	font-size: 1.25em;
}

// slider
ol.carousel-indicators {
	bottom: -25px;
}

ol.carousel-indicators li {
	background-color: rgba(167, 167, 167, 0.5);
}

ol.carousel-indicators .active {
	background-color: black;
}

.entry-content {
	a.carousel-control-prev,
	a.carousel-control-next {
		box-shadow: none;
		border-bottom: none;
		&:hover, &:focus, &:active {
		box-shadow: none;
		border-bottom: none;
		}
	}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	color: #000;
}

.gts-testimonial-slider-block.testimonial-slider {
	blockquote {
		border-left: none;
	}
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
	margin-bottom: 1em;
	min-height: 160px;
}

.gts__picture {
	position: relative;

	.gts__picture__image {
		width: 100px;
		height: 100px;
		margin-right: 30px;
		margin-left: 4.5px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #dadada;
		font-size: .8em;
		background-size: cover;
		background-position: center;
	}
}

.w-75 {
	padding-left: 1em;
}